@{
    ViewData["Title"] = "The Joel Hilton Film Collection"; <!--Title for the web page-->
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hiton Film Collection!</h1> <!--Heading for the web page-->
</div>
<center><img src="~/img/headshot.jpg" /></center> <!--Includes image of the client-->
